name: "Deploy"

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v3

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check Nixpkgs inputs
        uses: DeterminateSystems/flake-checker-action@main
        with:
          fail-mode: true

      - name: Deploy thinkcentre-1
        run: |
          nix develop --command \
            deploy .#thinkcentre-1

      - name: Deploy thinkcentre-2
        run: |
          nix develop --command \
            deploy .#thinkcentre-2
